@model CyberSecurityBG.Web.ViewModels.Posts.PostViewModel
<center>
    <h1 class="text-warning">Succesfully Edited</h1>    
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Forum" asp-action="Topics">Back</a>
</center>
