@model CyberSecurityBG.Web.ViewModels.Posts.PostViewModel

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<center>
    <form asp-area="Administration" asp-controller="AdminPosts" asp-action="EditById">
        <input name="id" type="hidden" value="@this.Model.Id" />
        <input name="title" class="form-control" value="@this.Model.Title">
        <br />
        <textarea name="content" class="form-control">@this.Model.Content</textarea>
        <input type="submit" class="btn btn-primary" />
    </form>
</center>