
@{
    ViewData["Title"] = "Rssfeed";
}

<h1>Rssfeed</h1>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>RSS Feed Reader</h2>
<hr />
<br />
@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" />

}